#### Name    :-  Abhishek Ajay Avati
#### Roll No :-  33106
#### Batch    :- M-9
#### Divison:-  TE -9
#### Ps
Perform following operation on given dataset.
a) Find Shape of Data
b) Find Missing Values
c) Find data type of each column
d) Finding out Zero's
e) Find Mean age of patients
f) Now extract only Age, Sex, ChestPain, RestBP, Chol. Randomly divide dataset in training (75%) and testing (25%).
Through the diagnosis test I predicted 100 report as COVID positive, but only 45 of those were actually positive. Total 50 people in my sample were actually COVID positive. I have total 500 samples.
Create confusion matrix based on above data and find
I. Accuracy
II. Precision
III. Recall
IV. F-1 score

In [3]:
# importing required libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [4]:
data=pd.read_csv("Heart.csv")
data

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,300,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,302,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,303,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

In [5]:
# finding shape of data
data.shape

(303, 15)

In [6]:
# finding missing values
data.isnull()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
299,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
300,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
301,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
302,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False

In [7]:
# data types of all columns
data.dtypes

Unnamed: 0      int64
Age             int64
Sex             int64
ChestPain      object
RestBP          int64
Chol            int64
Fbs             int64
RestECG         int64
MaxHR           int64
ExAng           int64
Oldpeak       float64
Slope           int64
Ca            float64
Thal           object
AHD            object
dtype: object

In [8]:
#  counting zeros
data.isnull().sum()

Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            4
Thal          2
AHD           0
dtype: int64

In [9]:
# finding mean of age
data['Age'].mean()

54.43894389438944

In [10]:
# extract only Age, Sex, ChestPain, RestBP, Chol. Randomly divide dataset in training (75%) and testing (25%).
ext_data=data[['Age','Sex','ChestPain','RestBP','Chol']]
train_data,test_data=train_test_split(ext_data,train_size=0.75,test_size=0.25,random_state=25)

In [11]:
train_data

     Age  Sex     ChestPain  RestBP  Chol
118   63    1  asymptomatic     130   330
265   42    1  asymptomatic     136   315
301   57    0    nontypical     130   236
162   54    0    nonanginal     110   214
227   67    0    nonanginal     152   277
..   ...  ...           ...     ...   ...
253   51    0    nonanginal     120   295
151   42    0  asymptomatic     102   265
255   42    0    nonanginal     120   209
143   64    1    nonanginal     125   309
132   29    1    nontypical     130   204

[227 rows x 5 columns]

In [12]:
test_data

     Age  Sex     ChestPain  RestBP  Chol
281   47    1    nonanginal     130   253
81    53    0  asymptomatic     130   264
40    65    0  asymptomatic     150   225
175   57    1  asymptomatic     152   274
58    54    1    nonanginal     125   273
..   ...  ...           ...     ...   ...
43    59    1    nonanginal     150   212
60    51    0  asymptomatic     130   305
125   45    0    nontypical     130   234
70    65    0    nonanginal     155   269
258   70    1    nontypical     156   245

[76 rows x 5 columns]

In [13]:
# duplicate rows count
c=0;
for i in range(data.duplicated().count()):
    if data.duplicated()[i]:
        print('import')
    else:
        c+=1;

In [14]:
c

303

In [14]:
# confusion matrix 
actual_y=[1]*50+[0]*450
pred_y=[1]*45+[0]*400+[1]*55

In [15]:
confusion_matrix(actual_y,pred_y)

array([[395,  55],
       [  5,  45]], dtype=int64)

In [16]:
print(classification_report(actual_y,pred_y))

              precision    recall  f1-score   support

           0       0.99      0.88      0.93       450
           1       0.45      0.90      0.60        50

    accuracy                           0.88       500
   macro avg       0.72      0.89      0.76       500
weighted avg       0.93      0.88      0.90       500